<div class="row justify-content-center">
  <div class="col-3 profile" style="background-color: white; margin-top: 2em; margin-bottom: 2em;">
    <div class="default-margin">
      <h3 class="profile text-center">Thank You for Registering</h3>
      <hr>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
    </div>
  </div>
</div>