<div style="justify-content: center;" class="home">
    <h1>Welcome to the Water Weather Stations Project!</h1>
    <p>The Water Weather Stations project is an endeavor by WWU students to create a buoy for documenting
        weather data in coastal locations. The Water Weather Stations project is composed of a mobile app, 
        the physical buoy itself, and the website.
    </p>
    <div class="home-info">
        <div class="home-info-top-bottom" style="margin-bottom: 1rem;">
            <div class="text-block">
                <h3>The App</h3>
                <p>
                    The mobile application's primary function is the collection of data
                    from the buoy itself. Connecting via bluetooth, the app can collect
                    data from buoys, display this data on a mobile phone, and further make
                    this data available to the website through the API.
                </p>
            </div>
            <img src="/assets/app-screen.png">
        </div>
        <div class="home-info-middle" style="margin-bottom: 1rem;">
            <img src="/assets/buoy_bottle.jpg">
            <div class="text-block">
                <h3>The Buoy</h3>
                <p>
                    The buoy is central to the Water Weather Stations project, containing an
                    array of sensors that collect metrics such as salinity, turibidity, temperature,
                    insolation and dissolved oxygen.
                </p>
            </div>
        </div>
        <div class="home-info-top-bottom">
            <div class="text-block">
                <h3>The Website</h3>
                <p style="margin: 0;">
                    The Water Weather Stations website provides access to data collected 
                    from the deployed buoys, this data is provided to the website by the 
                    mobile application.
            </div>
            <img src="/assets/computer.svg" class="computer-img">
        </div>
    </div>

</div>