<div class="row justify-content-center">
  <div class="col-3 register" style="background-color: white; margin-top: 2em; margin-bottom: 2em;">
    <div class="default-margin">
      <h1 class="register text-center">Register User</h1>
      <hr>
      <div class="error">
      </div>
      <p>You can register a business once you have made a user account.</p>
      <!--sr-only class provides form labels for screen readers-->
      <form>
        <!-- email -->
        <div class="register-body">
          <div class="form-group">
            <label for="email" class="sr-only">E-Mail:</label>
            <input name="email" type="text" formControlName="email" class="form-control" placeholder="E-Mail" #email
              required autofocus>
          </div>
          <!-- username -->
          <div class="form-group">
            <label for="username" class="sr-only">Username:</label>
            <input name="username" type="text" formControlName="username" class="form-control" placeholder="Username"
              #username required>
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password" class="sr-only">Password:</label>
            <input name="password" type="password" formControlName="password" class="form-control"
              placeholder="Password" #password required>
            <input name="password2" type="password" formControlName="password2" class="form-control"
              placeholder="Confirm Password" required>
          </div>
        </div>
        <!--label for screen readers-->
        <label for="register" class="sr-only">Register</label>
        <button class="btn btn-primary" type="submit"
          (click)="authService.SignUp(email.value, password.value)">Register</button>
      </form>
      <p class="login-link">Have an account? <a routerLink="/login">Login<i class="fas fa-external-link-alt"></i></a>
      </p>
      <div class="error">
      </div>
    </div>
  </div>