doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1 WWXS
    block content
    block footer
      p WWXS is a project created and maintained by Western Washington University Computer Science Undergraduates.  For more information contact #[a(href="mailto:frethee@wwu.edu") Erik Fretheim].