.data {
    margin-top: 2em;
    margin-bottom: 2em;
}
.table {
    margin: auto;
    width: 75% !important;
    table-layout: fixed;
    word-wrap: break-word;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1em;
 }
 h1 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    color: #FFF;
 }